.player {
    display: table;
    /*position: fixed;*/
    width: 100%;
    height: 100%;
}

.player__main__outer {
    display: table-row;
    /*width: 100%;*/

    line-height: 60px;
    top: 0;
    background-color: lightyellow;
}

.player__main {
    height: 70px;
}

.player__main__audio {
    display: none;
}


.player__main__controls__outer {
    display: inline-block;
    position: relative;
    width: 170px;
    height: 70px;
    line-height: 70px;
    margin: 0 0 0 18px;
    /*padding: 5px 0;*/
    float: left;
}

.player__main__controls {
    line-height: 0;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
}

.player__main__controls__control {
    display: inline-block;
    width: 45px;
    height: 45px;

    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.player__main__controls__prev {
    background-image: url("/static/img/icons/prev.png");

}

.player__main__controls__prev:hover {
    background-image: url("/static/img/icons/prev-active.png");
}

.player__main__controls__playpause {
    background-image: url("/static/img/icons/play.png");
    margin: 0 10px;
}

.player__main__controls__playpause_paused {
    background-image: url("/static/img/icons/play.png");
}

.player__main__controls__playpause_paused:hover {
    background-image: url("/static/img/icons/playpause-paused-hover.png");
}

.player__main__controls__playpause_playing {
    background-image: url("/static/img/icons/pause.png");
}

.player__main__controls__playpause_playing:hover {
    background-image: url("/static/img/icons/playpause-playing-hover.png");
}

.player__main__controls__next {
    background-image: url("/static/img/icons/next.png");
}

.player__main__controls__next:hover {
    background-image: url("/static/img/icons/next-active.png");
}


.player__main__song {
    display: inline-block;
    /*width: 600px;*/
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 10px;
    /*background-color: lightgreen;*/
}

.player__main__song__art__outer {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 70px;
    line-height: 70px;
    float: left;
}

.player__main__song__art {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    display: block;
    /*background-color: gold;*/

    background-image: url("/static/arts/default.png");
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 1px solid #656565;

    vertical-align: middle;
}

.player__main__song__info {
    display: inline-block;
    float: left;
    margin-left: 10px;
}


.player__main__song__artist {
    display: block;
    font-weight: bolder;
    height: 25px;
    line-height: 25px;
    margin-top: 12px;
}

.player__main__song__title {
    display: block;
    height: 25px;
    line-height: 25px;
    margin-bottom: 8px;
}

.player__main__ratecontrols__outer {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 20px;
    height: 70px;
    line-height: 70px;
    width: 100px;
}

.player__main__ratecontrols {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
}

.player__main__ratecontrols__rate {
    width: 34px;
    height: 34px;
    line-height: 34px;
    /*margin-bottom: 6px;*/
}

.player__main__ratecontrols__rate:first-child {
    margin-right: 10px;
}

.player__main__ratecontrols__like {
    background-image: url("/static/img/icons/like.png");
}

.player__main__ratecontrols__like:hover {
    background-image: url("/static/img/icons/like-active.png");
}

.player__main__ratecontrols__like_inactive {
    background-image: url("/static/img/icons/like.png");
}

.player__main__ratecontrols__like_active {
    background-image: url("/static/img/icons/like-active.png");
}


.player__main__ratecontrols__dislike {
    background-image: url("/static/img/icons/dislike.png");
}

.player__main__ratecontrols__dislike:hover {
    background-image: url("/static/img/icons/dislike-active.png");
}

.player__main__ratecontrols__dislike_inactive {
    background-image: url("/static/img/icons/dislike.png");
}

.player__main__ratecontrols__dislike_active {
    background-image: url("/static/img/icons/dislike-active.png");
}


.player__progressbar {
    height: 18px;
    position: relative;
    width: 100%;
}

.player__progressbar__text {
    width: 100%;
    height: 18px;
    line-height: 22px;
    font-size: 12px;
}

.player__progressbar__current {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}

.player__progressbar__max {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}


.player__progressbar__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background-color: #cecece;
}

.player__progressbar__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background-color: #6ace6d;
    clip: rect(0px 0px 18px 0px);
}























.player__playlist__outer {
    display: table-row;
    /*width: 100%;*/
    height: 100%;
    margin: 15px 0;
}

.player__playlist {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}








.playlist__entry {
    background-color: #e6e6e6;
    height: 60px;
    width: 100%;
    margin: 10px 0;
}

.playlist__entry_playing {
    background-color: rgba(99, 106, 218, 0.55);
}

.playlist__entry_paused:hover {
    background-color: #c8c8c8;
}

.playlist__entry_playing:hover {
    background-color: rgba(99, 106, 218, 0.55);
}

.playlist__entry__info {
    position: relative;
    /*display: inline-block;*/
    /*float: left;*/
    /*background-color: yellow;*/
    width: 100%;
    /*height: 70px;*/

}

.playlist__entry__info__art {
    background-image: url("http://ecx.images-amazon.com/images/I/61gOquV24GL._SL500_AA280_.jpg");
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;

    margin: 5px 0 5px 15px;

    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center;
    border-radius: 100%;
    z-index: 20;
}

.playlist__entry__info__art_dimmed {
    -webkit-filter: opacity(0.4) blur(3px);
    filter: opacity(0.4) blur(3px);
}

.playlist__entry__info__header {
    display: inline-block;
    float: left;

    margin: 5px 5px 5px 20px;

}

.playlist__entry__title__artist {
    width: 100%;
    margin-top: 5px;
    font-weight: bolder;
}

.playlist__entry__title__title {
    width: 100%;
    margin-top: 5px;
}

.playlist__entry__duration {
    float: right;
    height: 60px;
    line-height: 60px;
    margin: 0 20px 0 0;
    position: relative;
}

.playlist__entry__controls {
    display: none;
    float: right;
    height: 30px;
    margin: 15px 20px 15px 0;
    position: relative;
}

.playlist__entry__controls__control {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;

    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.playlist__entry__controls__control:last-child {
    margin-right: 0;
}

.playlist__entry__controls__dislike {
    background-image: url("/static/img/icons/dislike.png");
}

.playlist__entry__controls__dislike:hover {
    background-image: url("/static/img/icons/dislike-active.png");
}

.playlist__entry__controls__dislike_inactive {
    background-image: url("/static/img/icons/dislike.png");
}

.playlist__entry__controls__dislike_active {
    background-image: url("/static/img/icons/dislike-active.png");
}

.playlist__entry__controls__like {
    background-image: url("/static/img/icons/like.png");
}

.playlist__entry__controls__like:hover {
    background-image: url("/static/img/icons/like-active.png");
}

.playlist__entry__controls__like_inactive {
    background-image: url("/static/img/icons/like.png");
}

.playlist__entry__controls__like_active {
    background-image: url("/static/img/icons/like-active.png");
}

.playlist__entry__controls__playpause {
    width: 40px;
    height: 40px;
    margin: 5px 0 5px 15px;
    float: left;

    position: absolute;
    left: 5px;
    top: 5px;
    display: none;

    z-index: 22;
}


.playlist__entry__controls__playpause_paused {
    background-image: url("/static/img/icons/play.png");

}

.playlist__entry__controls__playpause_playing {
    background-image: url("/static/img/icons/pause.png");

}

.playlist__entry__controls__playpause_paused:hover {
    background-image: url("/static/img/icons/playpause-paused-hover.png");
}

.playlist__entry__controls__playpause_playing:hover {
    background-image: url("/static/img/icons/playpause-playing-hover.png");
}