{% extends 'index.html' %}
{% load staticfiles %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static "css/about.css" %}" />
{% endblock %}

{% block extra_scripts %}
    <script type="application/javascript">
        require(['about']);
    </script>
{% endblock %}

{% block  main_content %}
    <div class="about-title">
        <div class="about-title__text">VK RECOMMENDER</div>
    </div>
    <div class="about-padding"></div>
    <div class="about-desc">
        <div class="about-desc__text">
            <div class="about-desc__text__line">VK Recommender is an innovative way to get the best of your favorite music!</div>
            <div class="about-desc__text__line">Best of modern science and programming technologies united together to supply you with the recommendations that computed exactly for you.</div>
            <div class="about-desc__text__line about-desc__text__extra-pad">The only thing you need - is just listen to music, like you always do.</div>
            <div class="about-desc__text__line">Yeah, it's just that simple :)</div>
        </div>
    </div>
{% endblock %}