{% extends "default.html" %}

{% block extra_styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/lib/jquery-ui.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />

{% endblock %}

{% block extra_scripts %}
    {% load staticfiles %}
    <script type="application/javascript" src="{% static "js/lib/jquery-ui.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/PlayerControl.js" %}"></script>
    <script type="application/javascript" src="{% static "js/PlaylistEntry.js" %}"></script>
    <script type="application/javascript" src="{% static "js/Playlist.js" %}"></script>
    <script type="application/javascript" src="{% static "js/Player.js" %}"></script>
    <script type="application/javascript" src="{% static "js/main.js" %}"></script>

{% endblock %}


{% block content %}
    <div class="content">
        <header class="main-header">
            <div class="main-header__title link">VK RECOMMENDER</div>
            <div class="main-header__toolbar">
                <a href="{{ user_vk_url }}" target="_blank" id="user_profile_button" class="main-header__toolbar__user link">
                    <div class="main-header__toolbar__user__name">
                        {{ username|upper }}
                    </div>
                    <div class="main-header__toolbar__user__avatar" style="background-image: url({{ userpic }})">
                    </div>
                </a>
                <a href="#" id="share_button" class="main-header__toolbar__share link"></a>
                <a href="/logout" id="logout_button" class="main-header__toolbar__logout link" ></a>

            </div>
        </header>

        <div class="main-content">
            <div class="main-content__inner">
                <div id="main_player" class="player">
                    <div class="player__art"></div>

                    <div class="player__main">
                        <audio class="player__main__audio" controls preload="none">
                          <source src="https://cs1-46v4.vk-cdn.net/p2/1f2fcf97c48985.mp3?extra=S0B1js7SDQxXLqghiOyFoofzfn9YpHavJyGcDtaUmXHE2iZCSfJE-PwtIojxX2I0EOpVga2rPxK8eEYgXTF7hqTTsrGQH5c1qg" type="audio/mpeg">
                          Your browser does not support the audio element.
                        </audio>
                        <div class="player__main__song">
                            <div class="player__main__song__title">
                                Green Day&nbsp;&nbsp;-&nbsp;&nbsp;21 Guns
                            </div>
                            <div class="player__main__song__progressbar_outer">
                                <div class="player__main__song__progressbar"></div>
                            </div>
                        </div>

                        <div class="player__main__controls">
                            <div class="player__main__controls__rate player__main__controls__dislike player__main__controls__control link"></div>
                            <div class="player__main__controls__prev player__main__controls__control link"></div>
                            <div class="player__main__controls__playpause player__main__controls__playpause_paused player__main__controls__control link"></div>
                            <div class="player__main__controls__next player__main__controls__control link"></div>
                            <div class="player__main__controls__rate player__main__controls__like player__main__controls__control link"></div>
                        </div>
                    </div>
                </div>

                <div id="main_playlist" class="playlist">
{#                    {% load range %}#}
{#                    {% for i in 10|get_range %}#}
                    {% for r in recs %}
                    <div class="playlist__entry playlist__entry_paused link" data-song_id="{{ r.id }}" >
                        <div class="playlist__entry__info">
                            <div class="playlist__entry__controls__playpause playlist__entry__controls__playpause_paused playlist__entry__controls__control link"></div>
                            <div class="playlist__entry__art"></div>
                            <div class="playlist__entry__header">
                                <div class="playlist__entry__title__artist">{{ r.artist }}</div>
                                <div class="playlist__entry__title__title">{{ r.title }}</div>
                            </div>
                        </div>
                        <div class="playlist__entry__controls">
                            <div class="playlist__entry__controls__dislike playlist__entry__controls__control link"></div>
                            <div class="playlist__entry__controls__like playlist__entry__controls__control link"></div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <footer class="main-footer">
            Footer
        </footer>
    </div>
{% endblock %}