{% extends "default.html" %}

{% block extra_styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/lib/jquery-ui.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />

{% endblock %}

{% block extra_scripts %}
    {% load staticfiles %}
    <script type="application/javascript" src="{% static "js/lib/jquery-ui.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/ContentLoader.js" %}"></script>
    <script type="application/javascript" src="{% static "js/PlayerControl.js" %}"></script>
    <script type="application/javascript" src="{% static "js/PlaylistEntry.js" %}"></script>
    <script type="application/javascript" src="{% static "js/Playlist.js" %}"></script>
    <script type="application/javascript" src="{% static "js/Player.js" %}"></script>
    <script type="application/javascript" src="{% static "js/main.js" %}"></script>

{% endblock %}


{% block content %}
    <div class="content">
        <header class="main-header">
            <div class="main-header__title link">VK RECOMMENDER</div>
            <div class="main-header__toolbar">
                <a href="{{ user_vk_url }}" target="_blank" id="user_profile_button" class="main-header__toolbar__user link">
                    <div class="main-header__toolbar__user__name">
                        {{ username|upper }}
                    </div>
                    <div class="main-header__toolbar__user__avatar"></div>
                </a>
                <a href="#" id="share_button" class="main-header__toolbar__share link"></a>
                <a href="/logout" id="logout_button" class="main-header__toolbar__logout link" ></a>

            </div>
        </header>

        <div class="main-content">
            <div class="main-content__inner">

{#                {% include 'main_content.html' %}#}
            </div>
        </div>

        <footer class="main-footer">
            Footer
        </footer>
    </div>
{% endblock %}