{% extends 'default.html' %}
{% load staticfiles %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
    <link rel="stylesheet" href="{% static "css/about.css" %}" />
{% endblock %}

{% block extra_scripts %}
    <script type="application/javascript">
        require(['common']);
    </script>
{% endblock %}


{% block content %}
    {% include '_login_header.html' %}
    {% include '_login_body.html' %}
    {% include '_login_footer.html' %}
{% endblock %}